* { 
  margin: 0;
  padding: 0;
  line-height: 20px;
  font-family: 'Courier New', Courier, monospace;
  color: ivory;
}

body {
  background-color: #242424;
}

.grid {
  display: grid;
  grid-template-columns: repeat(100, 20px);
  gap: .2em;
}

.card {
  color: #242424;
  margin-top: .2em;
  /* text-align: center; */
  font-size: small;
  min-height: 1.5em;
  /* max-width: 3em; */
  border: 1px solid azure;
}

.card:hover {
  transform: scale(1.1);
}

.is-on {
  background-color: ivory;
}

is-off {
  background-color: #242424;
}

button {
  color: #242424;
}

input {
  background: none;
  border: none;
}